::-webkit-input-placeholder { /* WebKit browsers */
    color:#009fe0;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#009fe0;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#009fe0;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#009fe0;
}

.currency li{
    position:relative;
    width:304px;
    padding:10px;
    height:100px;
    float:left;
    background-color:#FFF;
    border:1px solid #e7e7e7;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}
.currency li div{
    position:relative;
    left:150px;
    color:#464646;
}

.currency li div span{
    color:#009fe0;
}


.currency li.c-usd{
    background-image:url('../images/USD.png');
    background-repeat:no-repeat;
    background-position:10px 10px;
    margin-right:10px;
}

.currency li.c-eu{
    background-image:url('../images/EU.png');
    background-repeat:no-repeat;
    background-position:10px 10px;
    margin-right:10px;
}

.currency li.c-uk{
    background-image:url('../images/UK.png');
    background-repeat:no-repeat;
    background-position:10px 10px;
}


.currency-converter{
    position:relative;
    width:97.5%;
    padding:10px;
    height:165px;
    background-color:#FFF;
    border:1px solid #e7e7e7;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    margin-top:15px;
}

.currency-converter h4{
    margin:0;
    padding:0;
    color:#009fe0;
    font-weight:400;
}
.currency-amount{
    margin-top:10px;
    position:relative;
}
.currency-amount div{
    color:#009fe0;
    font-size:18px;
}
.currency-amount input{
    height:20px;
    padding:16px;
    border:1px solid #e7e7e7;
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    width:50%;
    outline:none;
    font-size:26px;
    color:#009fe0;
}
.currency-amount div{
    position:relative;
    top:-54px;
    height:20px;
    padding:16px;
    width:50%;
    border-top:1px solid #e7e7e7;
    border-bottom:1px solid #e7e7e7;
    border-right:1px solid #e7e7e7;
    border-bottom-right-radius: 7px;
    -moz-border-bottom-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -moz-border-top-right-radius: 7px;
    float:right;
    z-index:1;
    background:url('../images/amount.png') no-repeat right;
    text-align:right;
}

.currency-exchange{
    position:relative;
    width:100%;
    float:left;
    bottom:25px;

}

.currency-exchange ul{
    height:40px;
    border:1px solid #e7e7e7;
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width:310px;
    outline:none;
    z-index:99;
    float:left;
}
.currency-exchange > ul > li:last-child > ul{
    height:200px;
    overflow-x:hidden;
    overflow-y:scroll;
    position:absolute;
    background-color:#FFF;
    left:0px;
}
.currency-exchange > ul > li:last-child > ul li{
    border-bottom:1px solid #e7e7e7;
    overflow:hidden;
}
.currency-exchange > ul > li:first-child{
    position:relative;
    height:30px;
    padding:5px 25px 5px 5px;
    background-image:url('../images/select.png');
    background-repeat:no-repeat;
    background-position:98% 15px;
    overflow:hidden;
}
.currency-exchange ul li{
    cursor:pointer;
    color:#414141;
    position:relative;
    line-height:30px;
    height:35px;
    padding:0 5px;
    font-weight:400;
    font-size:14px;
}
.currency-exchange ul li img{
    margin-right:5px;
}



.currency-exchange a{
    background:url("../images/convert.png") no-repeat;
    width:40px;
    height:41px;
    display:inherit;
    position:relative;
    margin:0 150px;
    float:left;
    cursor:pointer;
}


/* TABS */


section ul {
    position:relative;
    float: left;
    border-radius: 7px;
    border:1px solid #e7e7e7;
    padding: 15px;
    background-color: #FFF;
    margin:50px 0 10px 0;
    width:96.5%;
}
section li {
    float: left;
    background-color: #FFF;
    padding: 5px 19px;
    margin: 5px;
    color: black;
    border:1px solid #e7e7e7;
    list-style: none;
    position:relative;
    bottom:57px;
    border-top-left-radius: 7px;
    -moz-border-top-left-radius: 7px;
    -webkit-border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    -moz-border-top-right-radius: 7px;
    -webkit-border-top-right-radius: 7px;
}
section li:hover, li:hover a {
    background-color: #009fe0;
    color:white;
}
section li a {
    text-decoration: none;
    color:#009fe0;
    font-size: 21px;
}

section .active {
    border-bottom:none;
}


/* END TABS */


/* CALCULATORS */

.calculator-one{
   position:relative;
   margin-top:-40px;
    float:left;
    color:#464646;
}
.calculator-one .one-left{
    position:relative;
    float:left;
    margin-right:20px;
}
.calculator-one .one-right{
    position:relative;
    float:left;
}
.calculator-text{
    border:1px solid #e7e7e7;
    color:#464646;
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    padding:12px 15px;
    outline:none;
}
.calculator-select{
    border:1px solid #e7e7e7;
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    position:relative;
    height:40px;
    padding:5px 25px 5px 5px;
    background-image:url('../images/select.png');
    background-repeat:no-repeat;
    background-position:95% 14px;
    overflow:hidden;
    outline:none;
}
.calculator-one table{
    border:1px solid #e7e7e7;
    padding:11px;
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
}
.calculator-one table td{
    border:1px solid #e7e7e7;
}
select::-ms-expand {	display: none; }

/* For Webkit based browsers Firefox version 29 and less, Google Chrome, Apple Safari */
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}